@model SchoolWork.Models.StudentSyllabus
@{
    ViewBag.Title = "Student Syllabus ";
}

<html lang="en">
<head>
    <meta charset="utf-8">


    <link href="~/CSS/stylesheet2.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-weight: 700;
            color: red;
        }

        .body-div {
            margin-top: 140px;
            border-color: indigo;
            border-style: groove;
            padding: 35px;
        }

        .Education {
            border-color: lightyellow;
            border-style: inset;
            padding: 17px;
        }

        p {
            text-align: center;
        }


        .container {
            width: 90% !important;
            padding: 10px !important;
        }

        .well {
            background-color: #ead4b3 !important;
            padding: 10px 19px !important;
            /*border-style: inset;*/
        }

        .tab_menu_left {
            padding: 20px;
            font-weight: 700;
            border-radius: 6%;
            float: left;
            font-size: 17px;
            background-color: rgb(228, 211, 184);
            zoom: 1;
            box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
            margin-right: 8px;
            width: 23%;
        }

        .tab_menu_right {
            padding: 20px;
            font-weight: 700;
            border-radius: 6%;
            float: left;
            font-size: 17px;
            background-color: rgb(228, 211, 184);
            zoom: 1;
            box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
            margin-left: 8px;
            width: 75%;
            left:10%;
        }

        .form-group {
            padding: 6px !important;
        }

        p.solid {
            border-style: solid;
        }
    </style>
</head>
<body id="LoginForm" style="background-color:antiquewhite;">




    <div class="container">


        <div class="body-div" style="background-color:blanchedalmond; max-width:100%">


            <div class="row  Education">

                <!-- Navigation Buttons -->
                @* <div class="col-md-3 tab_menu_left">
                                <div class="col-sm-12 col-md-12">
                                    <ul class="nav nav-pills nav-stacked" id="myTabs">
                                        <li class="active">
                                            <a href="#View" data-toggle="pill" onclick="Javascript:callforRoutine(1)">
                                                View
                                                <span class="glyphicon glyphicon-arrow-right" style="float:right"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#Add" data-toggle="pill">
                                                Add
                                                <span class="glyphicon glyphicon-arrow-right" style="float:right"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class=" class=" col-sm-12 col-md-12"">
                                    <div class="col-sm-12 text-left">


                                        <a class="btn btn-success btn-md" onclick="Javascript: callforRoutine(2)">Edit</a>

                                            <a class="btn btn-danger btn-md" onclick="Javascript:DeleteRoutine()">Delete</a>

                                            <a class="btn btn-warning btn-md" onclick="Javascript:ClearAll()">Reset</a>


                        </div>
                    </div>
                            </div>*@


                <!--End Of Navigation Button-->
                <!-- Content -->
                <div class="col-md-9 tab_menu_right">

                    @*  <div class="tab-content">
                        <div class="tab-pane active" id="View">

                             <div class="row">
                                 <div class="col-sm-12 text-center">

                                     <div class="col-sm-12 text-center" id="viewheader">
                                         <h3><font style="color:#428bca"><u>VIEW Syllabus </u></font></h3>
                                     </div>
                                     <div class="row">


                                         <div class="form-group">

                                             <div class="row col-sm-12">
                                                 <div class="col-sm-6">
                                                     <div class="col-md-4">
                                                         <label for="fullday">Class:</label>
                                                     </div>
                                                     <div class="col-md-8">
                                                         @Html.DropDownListFor(m => m.Class_Id, Model.Class_Name, "--Select Class--", new { @class = "form-control" })

                                                         @Html.ValidationMessageFor(m => m.Class_Id, "", new { @class = "text-danger" })
                                                     </div>
                                                 </div>
                                                 <div class="col-sm-6">
                                                     <div class="col-md-4">
                                                         <label for="fullday">Section:</label>
                                                     </div>DropDownListFor
                                                     <div class="col-md-8">
                                                         @Html.DropDownListFor(m => m.Section_Id, Model.SectionList, "--Select Section--", new { @class = "form-control" })
                                                         @Html.ValidationMessageFor(m => m.Section_Id, "", new { @class = "text-danger" })
                                                     </div>
                                                 </div>

                                             </div>

                                             <div id="ViewData" class="col-sm-12">


                                             </div>
                                             <!--To be added to left menu-->
                                         </div>




                                     </div>


                                     </div>
                                     </div>
                                    <div class="clearfix"></div>



                                </div>*@




                    <!--End View-->
                    <div class="tab-pane" id="Add">
                        @using (Html.BeginForm("Add_Syllabus", "SchoolAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h3><font style="color:#428bca"><u>Add Syllabus </u></font></h3>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-10 col-md-offset-1">

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday">Session Year:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Session_Year, Model.Year_Name, "--Select Session--", new { @class = "form-control" })

                                                @Html.ValidationMessageFor(m => m.Session_Year, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>



                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday">Class:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Class_Id, Model.Class_Name, "--Select Class--", new { @class = "form-control", onchange = "Javascript:CreateDropDown(this.value)" })

                                                @Html.ValidationMessageFor(m => m.Class_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        @*<div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday">Section:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Section_Id, Model.SectionList, "--Select Section--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Section_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                        <div class="clearfix"></div>

                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday">Subject:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Subject_Id, Model.SubjectList, "--Select Subject--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Subject_Id, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday"> Examination:</label>
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Exam_Id, Model.ExamList, "Please Select Exam ", new { @class = "form-control", onChange = "CheckPreData()", })

                                                @Html.ValidationMessageFor(m => m.Exam_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>




                                        <div class="row">

                                            <div class="col-sm-10">
                                                <p id="Status" />
                                            </div>
                                        </div>



                                        <div class="clearfix"></div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday"> Syllabus Description:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <textarea name="Syllabus_Desc" id="editor1" rows="3" cols="40"></textarea>
                                                 @*@Html.TextAreaFor(m => m.Syllabus_Desc)*@
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>




                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="fullday"> Attachement:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="file" name="Syllabus_Attachment" required="required" style="margin:10px;" />

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>


                                        <br />
                                        <div class="form-group">


                                            <div class="col-sm-12" style="text-align:right;">
                                                <input type="submit" value="Save" class="btn btn-success btn-md" id="save" onclick="Javascript:check()">
                                                @*<a class="btn btn-warning btn-md" onclick="Javascript:ClearAll()">Clear</a>*@
                                                @*<input type="button" value="Return" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("AdminHeaderBoard", "DashBoard") + "'");" />*@


                                                <a class="btn btn-info" onclick="history.go(-1)"><span class=""></span> &nbsp; Return</a>

                                            </div>



                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>



                        }
                        <!--end of form add routine-->



                    </div><!--End Add-->
                    @*<div class="tab-pane" id="Update">
                            @using (Html.BeginForm("RoutineView", "SchoolAdmin", FormMethod.Get, new { enctype = "multipart/form-data" ))
                            {}

                        </div>*@<!--End Update-->
                    @*<div class="tab-pane  " id="Delete">

                        </div>*@
                </div>
            </div>

        </div>


    </div> <!---end class body div row-->
    </div> <!--container-->

    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")


        @Styles.Render("~/Content/cssjqryUi")



        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="~/CSS/StyleSheet5.css" rel="stylesheet" />
        <link href="~/CSS/Table.css" rel="stylesheet" />

        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>



        <!--sweet alert-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <!-- DataTables CSS -->

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.css">


        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.js">
        </script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({ selector: 'textarea' });</script>
        <script>

            window.onload = function () {
                $("#RoomId").find("option:contains('Empty')").css('background', 'rgba(188, 238, 104, 0.7)');

                $("#RoomId").find("option:contains('Occupied')").css('background', 'rgba(253, 112, 102, 0.87)');




            }
        </script>




        <script type="text/javascript">

            function ClearAll() {
                //alert("hi");

                var clsv = $("#ClassView").val();
                var scv = $("#SectionView").val();


                if (confirm("Do you  want to CLEAR ALL DATA?"))
                    if (confirm("Do you really want to CLEAR")) {
                        $.ajax({
                            type: "POST",
                            url: "/SchoolAdmin/AjaxClearPeriod",
                            data: '{clsv:"' + clsv + '",scv:"' + scv + '"}',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {

                                swal({
                                    title: "",
                                    text: response,
                                    icon: "success"
                                });
                                callforRoutine(2);
                            },
                            failure: function (response) {
                                alert("from  inner failure" + response.responseText);
                            },
                            error: function (response) {
                                alert("from inner error  " + response.responseText);
                            }
                        });
                    }

            }
        </script>


        <script type="text/javascript">
            function CreateDropDown(value) {
                // $('#Class_Id').on('change', function () {
                var id = 0;
                // var value = 0;
                var Section_Id = 0;

                //  id = $(this).attr("id");
                // value = $("#Class_Id").val();
                id = "Class_Id";
                Section_Id = $("#Section_Id").val();
                //  alert(id);
                // alert(value);

                $.ajax({
                    type: "POST",
                    url: "/SchoolAdmin/AjaxMethod_DropDownList",
                    data: '{type: "' + id + '", value: "' + value + '",Section_Id:"' + Section_Id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var dropDownId;
                        var dropDownId1;
                        var dropDownId2;
                        var list;
                        var list1;
                        var list2;
                        switch (id) {
                            case "Class_Id":
                                dropDownId = "#Subject_Id";
                                list = response.SubjectList;
                                DisableDropDown("#Subject_Id");
                                // DisableDropDown("#CityId");
                                PopulateDropDown("#Subject_Id", list);
                                //    break;
                                //case "Period_Id":
                                dropDownId1 = "#Section_Id";
                                list1 = response.SectionList;
                                DisableDropDown1("#Section_Id");
                                PopulateDropDown1("#Section_Id", list1);

                                dropDownId2 = "#Exam_Id";
                                list2 = response.ExamList;
                                DisableDropDown2("#Exam_Id");
                                PopulateDropDown2("#Exam_Id", list2);
                                break;
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                //});

            }

            function DisableDropDown(dropDownId) {
                //$(dropDownId).attr("disabled", "disabled");
                $(dropDownId).empty().append('<option selected="selected" value="0">Select Subject</option>');
            }

            function PopulateDropDown(dropDownId, list) {
                if (list != null && list.length > 0) {
                    //$(dropDownId).removeAttr("disabled");
                    $.each(list, function () {
                        $(dropDownId).append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                }
            }

            function DisableDropDown1(dropDownId1) {
                //$(dropDownId).attr("disabled", "disabled");
                $(dropDownId1).empty().append('<option selected="selected" value="0">Select Section</option>');
            }

            function PopulateDropDown1(dropDownId1, list1) {
                if (list1 != null && list1.length > 0) {
                    //$(dropDownId).removeAttr("disabled");
                    $.each(list1, function () {
                        $(dropDownId1).append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                }
            }


            function DisableDropDown2(dropDownId2) {
                //$(dropDownId).attr("disabled", "disabled");
                $(dropDownId2).empty().append('<option selected="selected" value="0">Select Exam</option>');
            }

            function PopulateDropDown2(dropDownId2, list2) {
                if (list2 != null && list2.length > 0) {
                    //$(dropDownId).removeAttr("disabled");
                    $.each(list2, function () {
                        $(dropDownId2).append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                }
            }



            $(function () {
                if ($("#Class_Id").val() != "") {
                    var message = "Class: " + $("#Class_Id option:selected").text();
                    //  message += "\nSection: " + $("#Section_Name option:selected").text();

                    // alert(message);
                }

            });

        </script>

        <script type="text/javascript">
   //$('#SchoolEmail').change(function () {
    // alert("hi");
    function CheckPreData() {

        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckSyllabusTaken", "SchoolAdmin")",
            {
               // useremail: $("#SchoolEmail").val(),
                Class_Id : $('#Class_Id').val(),
                Session_year : $('#Year_Name').val(),
              //  Section_Id: $('#Section_Id').val(),
                Subject_Id: $('#Subject_Id').val(),
                Exam_Id: $('#Exam_Id').val(),
              //  Period_Date : $('#Period_Date').val()


            },
            function (data) {
                if (data == 0) {
                    // alert(School_Code);
                    $("#Status").html('<font color="Green">Available !. you can take Syllabus.</font>');

                    $("#Class_Id").css("border-color", "Green");
                    $("#Section_Id").css("border-color", "Green");
                    $("#Exam_Id").css("border-color", "Green");
                  //  $("#Period_Name").css("border-color", "Green");

                }
                else {
                    // alert(School_Code);
                    $("#Status").html('<font color="Red">This Class, Section, Subject and Exams Syllabus is taken.</font>');
                    $("#Class_Id").css("border-color", "Red");
                    $("#Section_Id").css("border-color", "Red");
                    $("#Exam_Id").css("border-color", "Red");
                   // $("#Period_Name").css("border-color", "Red");

                }
            });
    }
   

    function DisableField(id) {
        if ($('#present_status' + id).is(':checked')) {
            //  $("#present_status" + id).attr('checked', false);
            $("#Absent_Reasons" + id).prop("disabled", true);
            // alert(id);
        } else {
            //  $("#present_status" + id).attr('checked', 'checked');
            $("#Absent_Reasons" + id).prop("disabled", false);
            // alert("id");
        }



    }

        </script>





    }


</body>
</html>



