@model SchoolWork.Models.SchoolEmpTypeMaster
@{
    ViewBag.Title = "SchoolEmpTypeMaster";
}
<h2>SectionMaster</h2>

<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="~/CSS/stylesheet2.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-weight: 700;
            color: red;
        }
    </style>

</head>
<body id="LoginForm" style="background-color:cadetblue">
    <div class="container">
        <h1 class="form-heading"></h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="login-form">
            <div class="body-div" style="background-color:blanchedalmond; max-width:100%">

                <h1 style="color:blueviolet; margin-top:-30px"><b>SCHOOL EMPLOYEE TYPE REGISTER</b></h1>
                <br />
                <br />


                @using (Html.BeginForm())
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <div class="input-group">

                        @Html.EditorFor(model => model.School_Id, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @onkeydown = "return false", @Value = Session["School_Id"] } })

                    </div>
                    @Html.ValidationMessageFor(model => model.School_Id, "", new { @class = "text-danger" })


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                                @Html.EditorFor(model => model.School_Code, new { htmlAttributes = new { @class = "form-control", @onkeydown = "return false", @Value = Session["School_Code"] } })
                            </div>

                            @Html.ValidationMessageFor(model => model.School_Code, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                @Html.EditorFor(model => model.School_Name, new { htmlAttributes = new { @class = "form-control", @onkeydown = "return false", @Value = Session["School_Name"] } })
                            </div>

                            @Html.ValidationMessageFor(model => model.School_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.EditorFor(model => model.EmpType_Name, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter Employee Type  Here" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.EmpType_Name, "", new { @class = "text-danger" })
                        </div>

                        
                    </div>

                    <br>

                    <div class="form-group">

                        <input type="submit" value="Submit" class="btn btn-success" />
                        &nbsp;&nbsp;
                        <input type="reset" value="Reset" class="btn btn-warning">
                        &nbsp;&nbsp;
                        <input type="button" value="Home" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("AdminHeaderBoard", "DashBoard") + "'");" />
                        &nbsp;&nbsp;
                        <input type="button" onclick="history.go(-1)" value="Return" class="btn btn-info" />

                    </div>


                }
            </div>
        </div>
    </div>
    @section Scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
