@model SchoolWork.Models.SchoolFeesAdd


<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="~/CSS/stylesheet2.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-weight: 700;
            color: red;
        }

        h4 {
            text-align: left;
            color: darkcyan;
            margin-left: -10px;
        }
    </style>

</head>
<body id="LoginForm" style="background-color:white">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container" style="border:1px solid black">

            <h1 style="color:blueviolet; text-align:center"><b>FEES INFORMATION UPDATE</b></h1>
            <br />
            <br />
            <br />

            <div class="row">

                <div class="col-sm-6">
                    <h4>
                      @Html.LabelFor(model => model.Fees_Id, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                </div>
                <div class="com-sm-6">
                    <h4>@Html.LabelFor(model => model.Fees_Name, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        @Html.EditorFor(model => model.School_Code, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                       
                        
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Fees_Id, new { htmlAttributes = new { @class = "form-control",  @readonly = "readonly" } })

                        @*@Html.EditorFor(model => model.School_Code)*@

                    </div>

                    @Html.ValidationMessageFor(model => model.Fees_Id, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Fees_Name, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    @Html.ValidationMessageFor(model => model.Fees_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4 style="margin-left:5px">@Html.LabelFor(model => model.Fees_Desc, htmlAttributes: new { @class = "control-label" })</h4>
                </div>
                <div class="com-sm-6">
                    <h4 style="margin-left:5px">@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })</h4>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Fees_Desc, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Fees_Desc, "", new { @class = "text-danger" })
                </div>


                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h4 style="margin-left:5px">@Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label" })</h4>
                </div>
                <div class="com-sm-6">
                    <h4 style="margin-left:5px">@Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })</h4>
                </div>

            </div>



            <div class="row">

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                </div>


                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>




            </div>

            <div class="row">
                <div class="col-sm-12 pull-left">
                    <div class="input-group">
<br>
                        <input type="submit" value="Save" class="btn btn-info" />

                        &nbsp;&nbsp;
                        <input type="button" value="Home" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("AdminHeaderBoard", "DashBoard") + "'");" />
                        &nbsp;&nbsp;
                        <input type="button" onclick="history.go(-1)" value="Return" class="btn btn-info" />

                    </div>
                    <div class="input-group">
                     @*   @Html.ActionLink("Back to List", "ShowallFees")*@
                    </div>
                </div>

            </div>

        </div>

    }



    @section Scripts
            {

        @Scripts.Render("~/bundles/jqueryval")

    }

</body>
</html>