@model SchoolWork.Models.EmployeeLogin
@{

   ViewBag.Title = "EmployeeLogin";
}

<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link href="~/CSS/stylesheet2.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-weight: 700;
            color: red;
        }
    </style>

</head>

<body id="LoginForm" style="background-color:cadetblue">
    <div class="container">
        <h1 class="form-heading"></h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="login-form">
            <div class="body-div" style="background-color:blanchedalmond;max-width:38%">

                <h1 style="color:blueviolet; margin-top:-30px"><b>EMPLOYEE SIGN-IN HERE</b></h1>
                <br />
                <br />

                @if (@ViewData["message"] != null)
                {
                    <p style="color:orangered"><b>@ViewData["message"]</b></p>
                }

                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(m => m.User_Type, new { Value = "3" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                @Html.DropDownListFor(m => m.School_Code, Model.School_Name, "Please select School", new { @class = "form-control" })

                            </div>

                            @Html.ValidationMessageFor(m => m.School_Code, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter Your  UserName" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">

                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Enter Your Password ", @type = "password" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})
                        </div>
                    </div>


                    <div class="form-group">

                        <input type="submit" value="LogIn" class="btn btn-success" />
                        &nbsp;&nbsp;
                        <input type="reset" value="Reset" class="btn btn-warning">

                    </div>
                    <br>
                    @*<div class="form-group">

                <p>Not Registered Yet! <a href="ParentRegister"><b>Click Here To Register</b></a></p>

            </div>*@

                }

            </div>
                    </div>
                </div>
    @section Scripts
        {

        @Scripts.Render("~/bundles/jqueryval")

    }
</body>
</html>