@model SchoolWork.Models.NoticeDetails

<h2>NoticeBoard</h2>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
    <link href="~/CSS/Table.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-weight: 700;
            color: red;
        }
    </style>


</head>

<body id="LoginForm" style="background-color:gainsboro;padding:10px;">
    @*<div class="container" >*@
    <h1 class="form-heading"></h1>
    <br />
    <br />




    @using (Html.BeginForm("SchoolRegister", "SchoolRegistration", FormMethod.Post, new { id = "myID", name = "randform" }))

    {
        <table class="table" id="products">

            <tr>
                <td colspan="2">
                    <h2>
                        <font color="green" />
                        Notice  Details
                    </h2>
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        <font color="green" />
                        @Html.Label("Notice Id")
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Notice_Id)
                </td>

            </tr>
            <tr>
                <td>
                    <strong>
                        <font color="green" />
                        @Html.Label("School Code")
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.School_Code)
                </td>

            </tr>
            <tr>
                <td>
                    <strong>
                        <font color="green" />
                        @Html.Label("School Name")
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.School_Name)
                </td>

            </tr>
            <tr>
                <td>
                    <strong>
                        <font color="green" />
                        @Html.Label("Notice Title")
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Notice_Title)
                </td>

            </tr>

            <tr>
                <td>

                    <strong>
                        <font color="green" />
                        @Html.Label("Notice Description")
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Notice_Description)
                </td>

            </tr>

            <tr>
                <td>
                    <strong>
                        <font color="green" />
                        @Html.Label("User ID")
                    </strong>

                </td>
                <td>
                    @Html.DisplayFor(model => model.User_Id)
                </td>

            </tr>
            <tr>
                <td>
                    <strong>
                        <font color="green">
                            @Html.Label("Notice Published On")
                        </font>
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Notice_Published_On)
                </td>

            </tr>

            <tr>
                <td>
                    <strong>
                        <font color="green">
                            @Html.Label("Notice Status")
                        </font>
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Notice_Status)
                </td>

            </tr>
            <tr align="left">
                <td colspan="2" align="left"></td>
            </tr>


        </table>
        <br>
        <div class="row">
            <div class="col text-center">
                @*<input type="button" value="Return" class="btn btn-info" onclick="location.href='@Url.Action("ShowallNotice", "ParentDetails")'" />*@

                <input type="button" onclick="history.go(-1)" value="Return" class="btn btn-success" />


            </div>
        </div>

            }




            @section Scripts
   {
                @Scripts.Render("~/bundles/jqueryval")
                <!-- DataTables CSS -->

                <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

                <!-- jQuery -->
                <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

                <!-- DataTables -->
                <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.js">
                </script>

                <script type="text/javascript" charset="utf8">
                    $(document).ready(function () {
                        $('#products').DataTable();
                    });
                </script>
            }
    </body>



</html>

